@import"~bulma/bulma.sass";
$rosa: #FF535B;

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#app {
   
	font-family: 'Lato', sans-serif;
}

.move-enter-active, .move-leave-active {
    transform: translateX(0);
    transition: all .3s linear;
}

.move-enter, .move-leave-to {
    transform: translateX(100%);
}

